CURRENT_DIR=$PWD

CEDALO_MC_VERSION=2.3.13
# frontend
SKIP_PREFLIGHT_CHECK=true
MOSQUITTO_PROXY_URL=ws://localhost
MOSQUITTO_PROXY_PORT=8088
# backend
CEDALO_MC_BROKER_USERNAME=mqttadminuser
CEDALO_MC_BROKER_PASSWORD=mqttadminpass
CEDALO_MC_USERNAME=mcuser
CEDALO_MC_PASSWORD=mcpass

CEDALO_MC_BROKER_ID="mosquitto-2.0"
CEDALO_MC_BROKER_NAME="Mosquitto 2.0"
CEDALO_MC_BROKER_URL="mqtt://localhost:1883"
CEDALO_MC_NAME="Cedalo Management Center"

MOSQUITTO_URL=mqtt://localhost
MOSQUITTO_PORT=1888
CEDALO_MC_PROXY_PORT=8088
CEDALO_MC_PROXY_HOST=localhost
CEDALO_MC_PLUGIN_DIR=
CEDALO_MC_BROKER_CONNECTION_MQTT_PORT=
CEDALO_MC_BROKER_CONNECTION_MQTTS_PORT=
CEDALO_MC_BROKER_CONNECTION_WEBSOCKET_PATH=
#CEDALO_MC_DIRECTORY_SETTINGS=
#CEDALO_MC_PROXY_CONFIG_DIR=
